<p>
    <label>First name:</label>
    <input type="text" [(ngModel)]="firstName" />
</p>
<p>
    <label>Last name:</label>
    <input type="text" [(ngModel)]="lastName" />
</p>
<p>
    <label>Distance:</label>
    <input type="number" [(ngModel)]="distance" />
</p>
<p>
    <label>Sport:</label>
    <select>
        <option [value]="Running">Running</option>
        <option [value]="Trekking">Trekking</option>
        <option [value]="Cycling">Cycling</option>
        <option [value]="Swimming">Swimming</option>
    </select>
</p>

<button type="button" (click)="add()" i18n>Add</button>