<ng-container *ngIf="contribution">
    <p class="title" i18n>¡Gracias {{ contribution.firstName }}!</p>

    <p i18n>Te hemos enviado un email con la confirmación de tu participación</p>

    <p class="share-icon" i18n>
        Comparte en:
    </p>
    <p class="social-media">
        <a *ngIf="facebookSharing" [href]="facebookSharing" data-label="Facebook"
            onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
            rel="noopener noreferrer nofollow" target="_blank" class="float-left mr-1">
            <input type="image" class="icon-social-media" src="assets/images/icons/facebook.png">
        </a>
        <a *ngIf="whatsappSharing && !isMobileOrTablet" [href]="whatsappSharing" data-label="Whatsapp"
            onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
            rel="noopener noreferrer nofollow" target="_blank" class="float-left mr-1">
            <input type="image" class="icon-social-media" src="assets/images/icons/whatsapp.png">
        </a>
        <a *ngIf="whatsappSharing && isMobileOrTablet" [href]="whatsappSharing" data-label="Whatsapp"
            class="float-left mr-1">
            <input type="image" class="icon-social-media" src="assets/images/icons/whatsapp.png">
        </a>
        <a *ngIf="twitterSharing" [href]="twitterSharing" data-label="Twitter"
            onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
            rel="noopener noreferrer nofollow" target="_blank" class="float-left mr-1">
            <input type="image" class="icon-social-media" src="assets/images/icons/twitter.png">
        </a>
        <a *ngIf="mailSharing" [href]="mailSharing" data-label="E-mail"
            onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
            rel="noopener noreferrer nofollow" target="_blank" class="float-left mr-1">
            <input type="image" class="icon-social-media" src="assets/images/icons/mail.png">
        </a>

        <a *ngIf="pinterestSharing" [href]="pinterestSharing" data-label="Pinterest"
            onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
            rel="noopener noreferrer nofollow" target="_blank" class="float-left mr-1">
            <input type="image" class="icon-social-media" src="assets/images/icons/pinterest.png">
        </a>

        <a *ngIf="linkedinSharing" [href]="linkedinSharing" data-label="LinkedIn"
            onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
            rel="noopener noreferrer nofollow" target="_blank" class="float-left mr-1">
            <input type="image" class="icon-social-media" src="assets/images/icons/linkedin.png">
        </a>

    </p>
    <p class="see-contribution">
        <a routerLink="" class="float-left" [queryParams]="{ c: contribution._id }">
            <input type="image" class="icon-social-media" src="assets/images/icons/map-icon.png">
            <span i18n>Mira tu contribuición en el mapa</span>
        </a>
    </p>
</ng-container>