.title {
    font-size: 20px;
    font-weight: 700;
}

.share-icon {
    font-weight: 600;
}

.icon-social-media {
    width: 45px;
    height: 45px;
    float: left;
}

.see-contribution {
    float: left;
    margin-top: 0;
}

.see-contribution a {
    text-decoration: none;
}

.see-contribution span {
    color: #000000;
    float: left;
    margin-top: 21px;
    margin-left: 10px;
}

.social-media {
    float: left;
    width: 100%;
    margin-top: 0;
}