<ng-container *ngIf="contribution">
    <p class="title">¡Gracias {{ contribution.firstName }}!</p>
    <p class="share-icon">
        Comparte en:
    </p>
    <p class="social-media">
        <input type="image" class="icon-social-media mr-1" (click)="shareOnFacebook()" id="image" alt="Login"
            src="assets/images/icons/facebook.png">
        <a *ngIf="whatsappSharing" [href]="whatsappSharing">
            <input type="image" class="icon-social-media" src="assets/images/icons/whatsapp.png">
        </a>
    </p>
    <p class="see-contribution">
        <a routerLink="" class="float-left" [queryParams]="{ c: contribution._id }">
            <input type="image" class="icon-social-media" src="assets/images/icons/map-icon.png">
            <span>Mira tu contribuición en el mapa</span>
        </a>
    </p>
</ng-container>