.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  #map {
    height: 100%;
  }

  .popup-card-person {
    max-width: 175px;
    width: 175px;
  }

  .popup-card-company {
    max-width: 200px;
    width: 200px;
  }

  .popup-card-person span, 
  .popup-card-company span, 
  .tooltip-card-person span, 
  .tooltip-card-company span {
    margin-right: 5px; 
    font-size: 0.9em;    
  }

  .popup-card-person img, .tooltip-card-person img {
    border-radius: 50%;
  }

  .popup-card-person img {
    max-width: 65px; 
    width: 65px; 
    max-height: 65px; 
    height: 65px;
  }

  .tooltip-card-person, .tooltip-card-company {
    display: inline-block;
    position: relative;
  }
  
  .tooltip-card-person img, .tooltip-card-company img {
    max-width: 25px; 
    width: 25px; 
    max-height: 25px; 
    height: 25px;
    float: left;
  }

  .tooltip-card-person span, .tooltip-card-company span {
    width: 100%;
    white-space: nowrap;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
  }

  .popup-card-company img {
    max-width: 180px;
    margin: 10px;
  }

  #start-point-balloon {
    bottom: 14px;
    left: 75px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }

  #end-point-balloon {
    bottom: 29px; 
    left: 85px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }

  #start-point-balloon .leaflet-popup-content-wrapper, #start-point-balloon .leaflet-popup-tip {
    background: #409401;
  }
  
  #end-point-balloon .leaflet-popup-content-wrapper, #end-point-balloon .leaflet-popup-tip {
    background: #e32e01;
  }

  #start-point-balloon .leaflet-popup-content-wrapper, #end-point-balloon .leaflet-popup-content-wrapper {
    position: absolute;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }
  
  #start-point-balloon .leaflet-popup-tip-container {
    top: 55px;
    left: 43px;
    width: 21px;
  }

  #end-point-balloon .leaflet-popup-tip-container {
    top: 68px;
    left: 57px;
    width: 21px;
  }
  
  .leaflet-popup-content {
    color: #fff;
  }

  .w-100 {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .icon-right {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }

  .balloon span {
    float: left;
    margin-bottom: 1em;
  }

  .balloon img {
    width: 100%;
  }