<div class="map-container" leaflet [leafletOptions]="options" [leafletLayers]="layers">
</div>

<div [hidden]="true">
    <ng-container *ngFor="let contribution of journeyContributions">
        <div *ngIf="!contribution.isCompany" class="popup-card-person" [id]="'popup-card-' + contribution.id">
            <div class="w-100 text-center">
                <img *ngIf="contribution.pictureUrl" [src]="contribution.pictureUrl" />
                <img *ngIf="!contribution.pictureUrl" src="assets/images/avatar.png" />
            </div>
            <div class="w-100 text-center">
                <span>{{ contribution.firstName + ' ' + contribution.lastName }}</span>
            </div>
            <div class="w-100 text-center">
                <span>ha sumado {{ contribution.distance }}km con Ousman</span>
            </div>
        </div>

        <div *ngIf="!contribution.isCompany" class="tooltip-card-person" [id]="'tooltip-card-' + contribution.id">
            <img *ngIf="contribution.pictureUrl" [src]="contribution.pictureUrl" />
            <img *ngIf="!contribution.pictureUrl" src="assets/images/avatar.png" />
            <span>{{ contribution.firstName + ' ' + contribution.lastName }}</span>
        </div>

        <div *ngIf="contribution.isCompany" class="popup-card-company" [id]="'popup-card-' + contribution.id">
            <div class="w-100 text-center">
                <img [src]="contribution.pictureUrl" />
            </div>
            <div class="w-100 text-center">
                <span>{{ contribution.firstName }}</span>
            </div>
            <div class="w-100 text-center">
                <span>ha sumado {{ contribution.distance }}km con Ousman</span>
            </div>
        </div>

        <div *ngIf="contribution.isCompany" class="tooltip-card-company" [id]="'tooltip-card-' + contribution.id">
            <img [src]="contribution.pictureUrl" />
            <span>{{ contribution.firstName }}</span>
        </div>

    </ng-container>

    <div id="start-point-balloon" class="leaflet-popup leaflet-zoom-animated">
        <div class="leaflet-popup-content-wrapper">
            <div class="leaflet-popup-content">Fianso</div>
        </div>
        <div class="leaflet-popup-tip-container">
            <div class="leaflet-popup-tip"></div>
        </div>
    </div>

    <div id="end-point-balloon" class="leaflet-popup leaflet-zoom-animated">
        <div class="leaflet-popup-content-wrapper">
            <div class="leaflet-popup-content">Barcelona</div>
        </div>
        <div class="leaflet-popup-tip-container">
            <div class="leaflet-popup-tip"></div>
        </div>
    </div>

    <div id="tema-balloon">
        <div class="w-100 text-center">
            <span>donde vio el mar por 1a vez podemos hacer vídeo de ousman en la playa</span>
        </div>
    </div>

    <div id="malaga-balloon" class="video-player">
        <div class="w-100 text-center">
            <youtube-player #player videoId="y-q9RJ7ox24">
            </youtube-player>
        </div>
    </div>

    <div id="ouargla-balloon">
        <div class="w-100 text-center">
            <span>nos van subiendo por muchas ciudades ,cada día a una distinta Asamasaud era una de ellas donde me
                pegaron mucho. Podemos hacer un vídeo de ousman</span>
        </div>
    </div>


</div>