<div class="map-container" #mapContainer leaflet [leafletOptions]="options" [leafletLayers]="layers"
    (leafletMapReady)="onMapReady($event)">
</div>

<div [hidden]="true">
    <ng-container *ngFor="let contribution of journeyContributions">
        <div *ngIf="!contribution.isCompany" class="popup-card-person" [id]="'popup-card-' + contribution._id">
            <div class="w-100 text-center">
                <img *ngIf="contribution.avatarUrl" [src]="contribution.avatarUrl" />
                <img *ngIf="!contribution.avatarUrl" src="assets/images/avatar.png" />
            </div>
            <div class="w-100 text-center">
                <span>{{ contribution.firstName + ' ' + contribution.lastName }}</span>
            </div>
            <div class="w-100 text-center">
                <span>ha sumado {{ contribution.distance }}km con Ousman</span>
            </div>
        </div>

        <div *ngIf="!contribution.isCompany" class="tooltip-card-person" [id]="'tooltip-card-' + contribution._id">
            <img *ngIf="contribution.avatarUrl" [src]="contribution.avatarUrl" />
            <img *ngIf="!contribution.avatarUrl" src="assets/images/avatar.png" />
            <span>{{ contribution.firstName + ' ' + contribution.lastName }}</span>
        </div>

        <div *ngIf="contribution.isCompany" class="popup-card-company" [id]="'popup-card-' + contribution._id">
            <div class="w-100 text-center">
                <img [src]="contribution.avatarUrl" />
            </div>
            <div class="w-100 text-center">
                <span>{{ contribution.firstName }}</span>
            </div>
            <div class="w-100 text-center">
                <span>ha sumado {{ contribution.distance }}km con Ousman</span>
            </div>
        </div>

        <div *ngIf="contribution.isCompany" class="tooltip-card-company" [id]="'tooltip-card-' + contribution._id">
            <img [src]="contribution.avatarUrl" />
            <span>{{ contribution.firstName }}</span>
        </div>

    </ng-container>

    <div id="start-point-balloon" class="leaflet-popup leaflet-zoom-animated">
        <div class="leaflet-popup-content-wrapper">
            <div class="leaflet-popup-content">Fiaso</div>
        </div>
        <div class="leaflet-popup-tip-container">
            <div class="leaflet-popup-tip"></div>
        </div>
    </div>

    <div id="end-point-balloon" class="leaflet-popup leaflet-zoom-animated">
        <div class="leaflet-popup-content-wrapper">
            <div class="leaflet-popup-content">Barcelona</div>
        </div>
        <div class="leaflet-popup-tip-container">
            <div class="leaflet-popup-tip"></div>
        </div>
    </div>

    <div id="fiaso-balloon" class="video-player">
        <div class="w-100 text-center">
            <youtube-player #player videoId="4VllFU7B_5o">
            </youtube-player>
        </div>
    </div>

    <div id="techiman-balloon" class="video-player">
        <div class="w-100 text-center">
            <youtube-player #player videoId="jNW6iTBRyi0">
            </youtube-player>
        </div>
    </div>

    <div id="tema-balloon">
        <div class="w-100 text-center">
            <youtube-player #player videoId="plcX5E0GPig">
            </youtube-player>
        </div>
    </div>

    <div id="ouargla-balloon">
        <div class="w-100 text-center">
            <youtube-player #player videoId="83c7-JYeVCg">
            </youtube-player>
        </div>
    </div>

    <div id="maghnia-balloon">
        <div class="w-100 text-center">
            <youtube-player #player videoId="zgXSNrG0cu4">
            </youtube-player>
        </div>
    </div>

    <div id="nouakchott-balloon">
        <div class="w-100 text-center">
            <youtube-player #player videoId="-y_CehT24fs">
            </youtube-player>
        </div>
    </div>

    <div id="fuerteventura-balloon">
        <div class="w-100 text-center">
            <youtube-player #player videoId="OxXP5kZpqsE">
            </youtube-player>
        </div>
    </div>

    <div id="barcelona-balloon">
        <div class="w-100 text-center">
            <youtube-player #player videoId="sXhA8MbaaZA">
            </youtube-player>
        </div>
    </div>

</div>