:host {
    background-color: #f4d84d;
    display: inline-block;
}

img.preview {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

input, select, #card-info {
    background-color: transparent !important;
    color: #000000 !important;
    font-family: "Open Sans", sans-serif;
    border: solid 3px #000000;
    padding: 0.5em;
    font-weight: 600;
    line-height: normal;
}

input::placeholder {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;    
}

#card-info {
    width: 370px;
}

hr {
    border: solid 1px #000000;
    float: left;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    background-color: #000000;
    border: none;
    padding: 0.75em 1em;
    color: #f4d84d;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

fa-icon {
    margin-left: 0.5rem;
}

input[type="file"] {
    display: none;
}

.first-name {
    width: 30%;
    margin-right: 2em;
    float: left;   
}

.last-name {
    width: 40%;
    margin-right: 2em;
    float: left;   
}

.group-representant-name {
    width: 30%;
    margin-right: 2em;
    float: left;   
}

.group-name {
    width: 50%;
    margin-right: 2em;
    float: left;   
}

.email {
    width: 50%;
}

.country {
    width: 40%;
    margin-right: 2em;
    float: left;
}

.city {
    width: 40%;
    float: left;
}

.distance {
    width: 20%;
    margin-right: 2em;
    float: left;   
}

.value {
    width: 15%;
    margin-right: 2em;
    float: left;   
}

.sport {
    width: 20%;
    margin-right: 2em;
    float: left;   
}

select option:not(:first-of-type) {
    color: black;
} 

.form-control {
    border-radius: 0;
    height: auto;
}

.image-consent {
    font-size: 11px;
    color: #4d4d4d;
}

#card-info.is-invalid {
    border-color: #dc3545;
}

.form-control.is-invalid {
    background-image: none;
}

input[type="checkbox"] {
    margin-top: 5px;
}

div.terms-not-accepted {
    border: solid 3px #dc3545;
}

.donation-label {
    margin-top: 0.75rem;
}

.anonymous-warning {
    color: #dc3545;
    margin-left: 17px;
}

.radio-button {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
  
.radio-button input ~ .checkmark {
    border: solid 3px #000000;
    background-color: transparent;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.radio-button input:checked ~ .checkmark:after {
    display: block;
}
  
.radio-button .checkmark:after {
    top: 1px;
    left: 1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000000;
}