img.preview {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

input, select, #card-info {
    background-color: transparent !important;
    color: #000000 !important;
    font-family: "Open Sans", sans-serif;
    border: solid 3px #000000;
    padding: 0.75em;
    font-weight: 600;
}

input::placeholder {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;    
}

#card-info {
    width: 400px;
}

hr {
    background-color: #000000;
    border-color: #000000;
}

button {
    background-color: #000000;
    border: none;
    padding: 0.75em 1em;
    color: #f4d84d;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

fa-icon {
    margin-left: 0.5rem;
}

.first-name {
    width: 30%;
    margin-right: 2em;
    float: left;   
}

.last-name {
    width: 40%;
    margin-right: 2em;
    float: left;   
}

.email {
    width: 50%;
}

.country {
    width: 40%;
    margin-right: 2em;
    float: left;
}

.city {
    width: 40%;
    float: left;
}

.distance {
    width: 20%;
    margin-right: 2em;
    float: left;   
}

.value {
    width: 15%;
    margin-right: 2em;
    float: left;   
}

.sport {
    width: 20%;
    margin-right: 2em;
    float: left;   
}

.consentimiento-uso-imagen {
    font-size: 11px;
    color: #4d4d4d;
}