<span class="float-left w-100 mb-1">
    <strong>
        Formulario de participación
    </strong>
</span>

<hr class="mb-3" />

<span class="float-left w-100 mb-1">
    <strong>
        La donación mínima es de 0,5 € por kilómetro recorrido pero, si quieres, tienes la posibilidad de donar los €
        que consideres por cada kilómetro.
    </strong>
</span>

<form autocomplete="off">

    <div class="w-100 mb-1 float-left">
        <input type="text" class="first-name" name="firstName" [(ngModel)]="firstName" placeholder="Nombre"
            maxlength="1000" />
        <input type="text" class="last-name" name="lastName" [(ngModel)]="lastName" placeholder="Apellidos"
            maxlength="1000" />
    </div>

    <div class="w-100 mb-1 float-left">

        <select class="distance" name="distance" [(ngModel)]="distance">
            <option selected hidden [value]="null">Km recorridos</option>
            <option *ngFor="let km of kms" [value]="km">{{ km }}</option>
        </select>


        <select class="value" name="value" [(ngModel)]="value">
            <option selected hidden [value]="null">€ por km</option>
            <option *ngFor="let valuePerKm of valuesPerKm" [value]="valuePerKm">{{ valuePerKm | currency:'€' }}</option>
        </select>

        <select class="sport" name="sport" [(ngModel)]="sport">
            <option selected hidden [value]="null">Modalidad</option>
            <option [value]="Running">Corriendo</option>
            <option [value]="Trekking">Andando</option>
            <option [value]="Cycling">Pedaleando</option>
            <option [value]="Swimming">Nadando</option>
        </select>
    </div>

    <div class="w-100 mb-1 float-left">
        <input type="email" class="email" name="email" [(ngModel)]="email" placeholder="Correo electrónico"
            maxlength="1000" autocomplete="none" />
    </div>

    <div class="w-100 mb-1 float-left">
        <input type="text" class="country" name="country" [(ngModel)]="country" placeholder="País" maxlength="500"
            autocomplete="none" />
        <input type="text" class="city" name="city" [(ngModel)]="city" placeholder="Ciudad" maxlength="500"
            autocomplete="none" />
    </div>

    <div class="w-100 mb-1 float-left">
        <div id="form-field">
            <div id="card-info" #cardInfo>
                <label for="card-info">Card Info</label>
            </div>
        </div>
    </div>

    <div class="w-100 mb-2 float-left">
        <input style="display: none" type="file"
            accept="image/apng, image/bmp, image/gif, image/jpeg, image/pjpeg, image/png, image/svg+xml, image/tiff, image/webp, image/x-icon"
            (change)="onPictureSelected($event)" #fileInput>
        <button type="button" (click)="fileInput.click()">Subir mi foto (opcional)</button>

    </div>
    <div class="w-100 mb-2 ml-5 float-left">
        <img [src]="avatarPreview" class="preview" *ngIf="avatarPreview">
    </div>

    <hr class="mb-2" />

    <div class="float-left w-100">
        <input type="checkbox" class="float-left mr-1" name="futureCommunicationConsent"
            [(ngModel)]="futureCommunicationConsent" />
        <span>Quiero saber más de Ousman Umar y los proyectos solidarios de NASCO Feeding Minds.</span>
    </div>

    <div class="float-left w-100 mb-1">
        <input type="checkbox" class="float-left mr-1" name="termsAccepted" [(ngModel)]="termsAccepted" />
        <span>He leído y acepto los <a href="https://nascoict.org/aviso-legal-y-politica-de-privacidad/"
                target="_blank">términos legales</a></span>
    </div>

    <div class="float-right">
        <button (click)="captchaRef.execute()">
            <span class="float-left">PARTICIPA</span>
            <fa-icon *ngIf="isProcessing" class="float-left" [icon]="faSpinner" [spin]="true"></fa-icon>
        </button>
        <re-captcha #captchaRef="reCaptcha" (resolved)="contribute($event)" (error)="onCaptchaError($event)"
            errorMode="handled">
        </re-captcha>
    </div>

</form>